  <%= send(SimpleAdmin.form_for_helper, @resource, :as => @interface.member.to_sym,
    :url => resource_path(@resource), :html => {:class => "formtastic #{@interface.member}"}) do |form| %>
    <fieldset class="inputs">
      <ol>
        <% @interface.columns_for(:form).each do |col| %>
          <%= form.input col.attribute %>
        <% end %>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit"><input class="save" name="commit" type="submit" value="Save <%= @interface.member.titleize %>"></li>
        <li class="cancel"><%= link_to "Cancel", send("simple_admin_#{@interface.collection}_path") %></li>
      </ol>
    </fieldset>
  <% end %>
